<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <title>About Shubham Pathak | Full Stack Developer | Graphic Designer</title>
   

    <link rel="preconnect" href="https://www.google-analytics.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="preload" href="../fonts/MonumentExtended-Ultrabold.otf" as="font"  type="font/otf" crossorigin="anonymous">
    <link rel="preload" href="../fonts/MonumentExtended-Light.otf" as="font" type="font/otf" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&amp;display=swap" type="text/css">
    </noscript>
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">

    <link rel="stylesheet" href="../assets/main.css">
    <link rel="canonical" href="index.html">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142626544-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-142626544-1');
    </script>
</head>

<body class="is-loading" data-barba="wrapper">

    <div class="loader_block-1"></div>
    <div class="loader_block-2"></div>

    <div class="loader_main">
        <div class="progress_inner">
            <div class="progress_bar"></div>
        </div>

        <div class="loader_svg-content">
            <svg class="loader_svg-logo" width="599" height="597" viewBox="0 0 599 597" fill="none" xmlns="http://www.w3.org/2000/svg" style="width:35rem">
                <g clip-path="url(#clip0_1_2)">
                <path class="loader_svg-stroke" d="M169.711 393.445L178.586 322.574C168.719 320.58 147.705 323.751 142.591 352.383C137.478 381.015 158.541 391.688 169.711 393.445Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-stroke" d="M424.334 296.933L336.454 285.547L429.603 314.478L424.334 296.933Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-stroke" d="M415.757 262.614L326.548 270.437L427.239 280.665L415.757 262.614Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-stroke" d="M222.123 123.489L359.604 85.3407L370.155 96.8362L381.171 82.2065L452.805 137.505L406.781 178.773L420.494 189.034L399.228 221.07C380.592 246.371 382.206 255.212 385.343 256.47L278.944 266.438L276.79 250.271C279.991 245.674 285.016 236.202 279.501 235.088C273.986 233.974 260.752 253.025 254.825 262.689L340.045 312.492C385.256 337.731 468.459 386.752 439.586 380.919C410.713 375.086 313.424 416.859 268.388 438.475L278.534 449.889L193.873 502.828C183.534 487.006 162.92 454.999 163.178 453.553C163.436 452.107 182.269 425.073 191.654 411.737C185.368 407.72 174.079 399.571 179.203 399.108C184.328 398.645 191.927 339.627 195.086 310.176L229.834 301.464L240.879 340.777L289.758 318.814C253.367 302.223 177.102 267.364 163.174 260.655C149.247 253.946 147.874 240.459 148.929 234.554L231.926 150.94L222.123 123.489Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-fill" d="M169.711 393.445L178.586 322.574C168.719 320.58 147.705 323.751 142.591 352.383C137.478 381.015 158.541 391.688 169.711 393.445Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-fill" d="M424.334 296.933L336.454 285.547L429.603 314.478L424.334 296.933Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-fill" d="M415.757 262.614L326.548 270.437L427.239 280.665L415.757 262.614Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-fill" d="M222.123 123.489L359.604 85.3407L370.155 96.8362L381.171 82.2065L452.805 137.505L406.781 178.773L420.494 189.034L399.228 221.07C380.592 246.371 382.206 255.212 385.343 256.47L278.944 266.438L276.79 250.271C279.991 245.674 285.016 236.202 279.501 235.088C273.986 233.974 260.752 253.025 254.825 262.689L340.045 312.492C385.256 337.731 468.459 386.752 439.586 380.919C410.713 375.086 313.424 416.859 268.388 438.475L278.534 449.889L193.873 502.828C183.534 487.006 162.92 454.999 163.178 453.553C163.436 452.107 182.269 425.073 191.654 411.737C185.368 407.72 174.079 399.571 179.203 399.108C184.328 398.645 191.927 339.627 195.086 310.176L229.834 301.464L240.879 340.777L289.758 318.814C253.367 302.223 177.102 267.364 163.174 260.655C149.247 253.946 147.874 240.459 148.929 234.554L231.926 150.94L222.123 123.489Z" fill="black" stroke="black" stroke-width="3"/>
                </g>
                <defs>
                <clipPath id="clip0_1_2">
                <rect width="511" height="509" fill="white" transform="translate(96.2759 0.589813) rotate(10.8119)"/>
                </clipPath>
                </defs>
            </svg>
        </div>
    </div>

    <div class="logo">
        <img src="../images/animlogo.png" alt="Freelance web developer" />
    </div>

    <div class="menu"><span>Menu</span></div>

    <div class="menu_container">
        <div class="menu_wrapper">
            <div class="menu_close"><span>Close</span></div>
            <nav class="main_nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                  
                </ul>
                <div class="social_media">
                    <a href="mailto:shubham4uh@gmail.com" target="_blank"><i class="fas fa-envelope fa-xs"></i></a>
                    <a href="https://instagram.com/itspathak_" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/graylith" target="_blank"><i class="fab fa-codepen fa-xs"></i></a>
                </div>
            </nav>
        </div>
    </div>

    <div id="viewport">

    <main id="main_content" class="is-about" data-barba="container" data-barba-namespace="about">
        <section id="about" class="about">
            <div class="wrapper">
                <h1 class="title text_stroke">About</h1>
                <p class="title_solid">About</p>

                <div class="about_box">
                    <p class="subtext">Hi! I'm Shubham, I have a passion for creating designs & websites with code or better known
                        as a Web Developer & Designer. I'm located in New Delhi, India. I love creating visual and interactive designs on websites that
                        engage the user. My goal is to bring your ideas to life on the web.</p>
                </div>
            </div>
        </section>

        <div class="hr right"></div>

        <section id="history" class="history">
            <h2 class="title text_stroke">Histor<span>y</span></h2>
            <p class="title_solid">Histor<span>y</span></p>

            <div class="wrapper">
                <div class="editor_window">
                    <div class="row editor_window-titlebar">
                        <div class="col-sm-auto">
                            <div class="editor_window-actions">
                                <span class="editor_window-action exit"></span><span class="editor_window-action minimize"></span><span class="editor_window-action maximize"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="editor_window-title">
                                <input class="editor_window--title-input" type="text" value="history.js">
                            </div>
                        </div>
                    </div>
                    <pre class="editor_content">
<code contenteditable="false" tabindex="0" spellcheck="false">
  const resume = select('.history');

  	let firstName = 'Shubham';
  	let lastName = 'Pathak';
  	let email = 'shubham4uh@gmail.com';

	function workExperience() {
		return {
			['2016-2017': 'Microsoft CRM Intern at Stier Solutions Pvt. Ltd.'],
			['2018-now': 'Freelance Graphic Designer and Front-end Developer'],
			['2020-now': 'Software Developer at Graham Capital Management'],
			['2021-now': 'Graphic Designer for Jordan, Nike']
		}
	}

	function education() {
		return {
			'2016-2020': 'B.tech-Information Technology'
		}
	}

	function skills() {
		return {
            'HTML', 'CSS', 'SASS', 'Bootstrap', 'JavaScript', 'gsap.js', 'barba.js', 
            'jQuery', 'ScrollMagic', 'Webpack', 'Figma', 'Git', 'NodeJS', 'ExpressJS', 
            'MongoDB', 'SQL', 'EJS', 'Pug', 'Unity3D', 'Adruino Automation', 'WordPress', 
            'AWS/S3', 'Photoshop', 'Illustrator', 'Indesign', 'AfterEffects'
		}
	}</code>
                    <div class="code_cursor">
                        </div>
                      </pre>
                </div>

            </div>
        </section>

        <section id="contact" class="contact">
            <div class="wrapper">
                <h3>Let's create something together,</h3>
                <p>Drop me a <a href="mailto:shubham4uh@gmail.com" target="_blank">line!</a></p>
            </div>

            <div class="info">
                <div class="info_box">
                    <ul>
                        <li class="aniup">
                            <a href="mailto:shubham4uh@gmail.com" target="_blank">shubham4uh@gmail.com</a>
                        </li>
                        <li class="aniup">
                            <a href="https://instagram.com/itspathak_" target="_blank">Instagram</a>
                        </li>
                        <li class="aniup">
                            <a href="https://github.com/graylith" target="_blank">Github</a>
                        </li>
                    </ul>
                </div>
            </div>

            <footer class="footer">
                <p>&copy; 2022 Shubham Pathak</p>
            </footer>
        </section>

    </main>

    </div>
    
    <div class="circle"></div>

    <script defer src="../assets/about.js"></script>
    <script defer src="../assets/main.js"></script>

</body>
</html>
