<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <title>Shubham Pathak | Full Stack Developer | Web Designer</title>
    

    <link rel="preconnect" href="https://www.google-analytics.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="preload" href="fonts/MonumentExtended-Ultrabold.otf" as="font" type="font/otf" crossorigin="anonymous">
    <link rel="preload" href="fonts/MonumentExtended-Light.otf" as="font" type="font/otf" crossorigin="anonymous">
    <link rel="preload" href="fonts/MonumentExtended-Regular.otf" as="font" type="font/otf" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&amp;display=swap" type="text/css">
    </noscript>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.html">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <link rel="stylesheet" href="assets/main.css">
    <link rel="canonical" href="index.html">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142626544-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-142626544-1');

    </script>
</head>

<body class="is-loading" data-barba="wrapper">

    <div class="loader_block-1"></div>
    <div class="loader_block-2"></div>

    <div class="loader_main">
        <div class="progress_inner">
            <div class="progress_bar"></div>
        </div>

        <div class="loader_svg-content">
            
            <svg class="loader_svg-logo" width="599" height="597" viewBox="0 0 599 597" fill="none" xmlns="http://www.w3.org/2000/svg" style="width:35rem">
                <g clip-path="url(#clip0_1_2)">
                <path class="loader_svg-stroke" d="M169.711 393.445L178.586 322.574C168.719 320.58 147.705 323.751 142.591 352.383C137.478 381.015 158.541 391.688 169.711 393.445Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-stroke" d="M424.334 296.933L336.454 285.547L429.603 314.478L424.334 296.933Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-stroke" d="M415.757 262.614L326.548 270.437L427.239 280.665L415.757 262.614Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-stroke" d="M222.123 123.489L359.604 85.3407L370.155 96.8362L381.171 82.2065L452.805 137.505L406.781 178.773L420.494 189.034L399.228 221.07C380.592 246.371 382.206 255.212 385.343 256.47L278.944 266.438L276.79 250.271C279.991 245.674 285.016 236.202 279.501 235.088C273.986 233.974 260.752 253.025 254.825 262.689L340.045 312.492C385.256 337.731 468.459 386.752 439.586 380.919C410.713 375.086 313.424 416.859 268.388 438.475L278.534 449.889L193.873 502.828C183.534 487.006 162.92 454.999 163.178 453.553C163.436 452.107 182.269 425.073 191.654 411.737C185.368 407.72 174.079 399.571 179.203 399.108C184.328 398.645 191.927 339.627 195.086 310.176L229.834 301.464L240.879 340.777L289.758 318.814C253.367 302.223 177.102 267.364 163.174 260.655C149.247 253.946 147.874 240.459 148.929 234.554L231.926 150.94L222.123 123.489Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-fill" d="M169.711 393.445L178.586 322.574C168.719 320.58 147.705 323.751 142.591 352.383C137.478 381.015 158.541 391.688 169.711 393.445Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-fill" d="M424.334 296.933L336.454 285.547L429.603 314.478L424.334 296.933Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-fill" d="M415.757 262.614L326.548 270.437L427.239 280.665L415.757 262.614Z" fill="black" stroke="black" stroke-width="3"/>
                <path class="loader_svg-fill" d="M222.123 123.489L359.604 85.3407L370.155 96.8362L381.171 82.2065L452.805 137.505L406.781 178.773L420.494 189.034L399.228 221.07C380.592 246.371 382.206 255.212 385.343 256.47L278.944 266.438L276.79 250.271C279.991 245.674 285.016 236.202 279.501 235.088C273.986 233.974 260.752 253.025 254.825 262.689L340.045 312.492C385.256 337.731 468.459 386.752 439.586 380.919C410.713 375.086 313.424 416.859 268.388 438.475L278.534 449.889L193.873 502.828C183.534 487.006 162.92 454.999 163.178 453.553C163.436 452.107 182.269 425.073 191.654 411.737C185.368 407.72 174.079 399.571 179.203 399.108C184.328 398.645 191.927 339.627 195.086 310.176L229.834 301.464L240.879 340.777L289.758 318.814C253.367 302.223 177.102 267.364 163.174 260.655C149.247 253.946 147.874 240.459 148.929 234.554L231.926 150.94L222.123 123.489Z" fill="black" stroke="black" stroke-width="3"/>
                </g>
                <defs>
                <clipPath id="clip0_1_2">
                <rect width="511" height="509" fill="white" transform="translate(96.2759 0.589813) rotate(10.8119)"/>
                </clipPath>
                </defs>
            </svg>
                
                
        </div>

    </div>

    <div class="logo">
        <img width="80" height="80" src="images/animlogo.png" alt="Shubham Pathak freelance web developer" />
    </div>

    <div class="menu"><span>Menu</span></div>

    <div class="menu_container">
        <div class="menu_wrapper">
            <div class="menu_close"><span>Close</span></div>
            <nav class="main_nav">
                <ul>
                    <li><a class="is_active" href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    
                </ul>
                <div class="social_media">
                    <a href="mailto:shubham4uh@gmail.com" target="_blank"><i class="fas fa-envelope fa-xs"></i></a>
                    <a href="https://instagram.com/itspathak_" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/graylith" target="_blank"><i class="fab fa-codepen fa-xs"></i></a>
                </div>
            </nav>
        </div>
    </div>

    <div id="viewport">

        <main id="main_content" class="is-home" data-barba="container" data-barba-namespace="home">
            <section id="intro" class="intro">
                <div class="arrow_bg"></div>
                <div class="wrapper">
                    <h1 class="intro_head">
                        <div class="head_text">Web</div>
                        <div class="head_text">Designer <span>+</span></div>
                        <div class="head_text">Developer</div>
                    </h1>

                    <div class="intro_sub-head">
                        <div class="bar"></div>
                        <h2 class="sub_head-text">Shubham Pathak<span></h2>
                    </div>
                </div>

                <div class="arrow_down"></div>
                <div class="scroll_down">Scroll Down</div>

            </section>

            <div class="hr right"></div>

            <section id="works" class="works">
                <div class="wrapper">
                    <h2 class="title text_stroke">W<span>o</span>rk<span>s</span></h2>
                    <p class="title_solid">W<span>o</span>rk<span>s</span></p>

                    <div class="works_container">

                        <div class="works_box works_box-left">
                            <div class="works_img">
                                <div class="works_img-mask">
                                    <picture>
                                        <source srcset="/images/campk12.png, 855w" type="image/jpg">
                                        <img width="855" height="561" src="/images/campk12.png" loading="lazy" alt="Campk12 Website Development" />
                                    </picture>
                                </div>
                            </div>
                            <div class="works_info">
                                <p class="works_year">2020</p>
                                <p class="works_name">Campk12</p>
                            </div>
                        </div>
                        
                        <div class="works_box works_box-right">
                            <div class="works_img">
                                <div class="works_img-mask">
                                    <picture>
                                        <source srcset="images/pagal.png, 855w" type="image/jpg">
                                        <img width="855" height="561" src="images/pagal.png" loading="lazy" alt="Custom WordPress webdesign and development" />
                                    </picture>
                                </div>
                            </div>
                            <div class="works_info">
                                <p class="works_year">2022</p>
                                <p class="works_name">Pagal Records</p>
                            </div>
                        </div>

                        <div class="works_box works_box-left">
                            <div class="works_img">
                                <div class="works_img-mask">
                                    <picture>
                                        <source srcset="images/bbt.png, 855w" type="image/jpg">
                                        <img width="855" height="561" src="images/bbt.png" loading="lazy" alt="Big Boy Toyz" />
                                    </picture>
                                </div>
                            </div>
                            <div class="works_info">
                                <p class="works_year">2021</p>
                                <p class="works_name">Big Boy Toyz&#174;</p>
                            </div>
                        </div>

                        <div class="works_box works_box-right">
                            <div class="works_img">
                                <picture>
                                    <source srcset="images/ganga.png, 855w" type="image/png">
                                    <img width="855" height="561" src="images/ganga.png" loading="lazy" alt="freelance website development" />
                                </picture>
                            </div>
                            <div class="works_info">
                                <p class="works_year">2022</p>
                                <p class="works_name">Ganga Tattoos</p>
                            </div>
                        </div>

                        <div class="works_box works_box-left">
                            <div class="works_img">
                                <div class="works_img-mask">
                                    <picture>
                                        <source srcset="images/bonkers.png, 855w" type="image/jpg">
                                        <img width="855" height="561" src="images/bonkers.png" loading="lazy" alt="Big Boy Toyz" />
                                    </picture>
                                </div>
                            </div>
                            <div class="works_info">
                                <p class="works_year">2021</p>
                                <p class="works_name">Bonkers Corner&#174;</p>
                            </div>
                        </div>
                        <div class="works_box works_box-right">
                            <div class="works_img">
                                <picture>
                                    <source srcset="images/gem.png, 855w" type="image/jpg">
                                    <img width="855" height="561" src="images/gem.png" loading="lazy" alt="Big Boy Toyz" />
                                </picture>
                            </div>
                            <div class="works_info">
                                <p class="works_year">2021</p>
                                <p class="works_name">GEM Marketplace</p>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </section>

            <div class="hr"></div>

            <section id="collab" class="collab">
                <div class="wrapper">
                    <h2 class="title text_stroke">Collabora<span>tions</span></h2>
                    <p class="title_solid">Collabora<span>tions</span></p>
                    <p class="subtext">Over the years I have had the privilege and opportunity to collaborate with some well
                        known companies & agencies, bringing their visions to life. You may see what other things I do along with Web Development below.
                    </p>
                </div>

                <div class="ticker_container">
                    <div class='ticker_wrapper-r'>
                        <div class='ticker'>
                            <a href="#" style="font-size: 100px;">Logo Designing</a>
                        </div>
                    </div>
                    <div class='ticker_wrapper-l'>
                        <div class='ticker'>
                            <a href="#" style="font-size: 100px;">Vectors and Illustrations</a>
                        </div>
                    </div>
                    <div class='ticker_wrapper-r'>
                        <div class='ticker'>
                            <a href="#" style="font-size: 100px;">3D : Blender & Spline</a>
                        </div>
                    </div>
                    <div class='ticker_wrapper-l'>
                        <div class='ticker'>
                            <a href="#" style="font-size: 100px;">After Effects</a>
                        </div>
                    </div>
                    <div class='ticker_wrapper-l'>
                        <div class='ticker'>
                            <a href="#" style="font-size: 100px;">Brand Promotion(ads)</a>
                        </div>
                    </div>
                    <!-- <div class='ticker_wrapper-l'>
                        <div class='ticker'>
                            <a href="#"></a>
                        </div>
                    </div> -->
                    <div class="image_box">
                        <div class="image_inside"></div>
                    </div>

                </div>

            </section>

            <div class="hr right"></div>

            <section id="portfolio" class="portfolio">
                <h3 class="title text_stroke graphic">Graphic</h3>
                <h4 class="title text_stroke design">Design</h4>
                <p class="title_solid graphic_solid">Graphic</p>
                <p class="title_solid design_solid">Design</p>

                <div class="panel">
                    <div class="panel_item firstAn">
                        <picture>
                            <source srcset="images/graphics/rubix.png, 728w" type="image/png">
                            <img class="panel_img firstSubAn" width="728" height="588" src="images/graphics/rubix.png" loading="lazy" alt="freelance graphic design" />
                        </picture>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel_item firstAn">
                        <picture>
                            <source srcset="images/graphics/mercury.gif, 728w" type="image/gif">
                            <img class="panel_img firstSubAn" width="728" height="588" src="images/graphics/mercury.gif" loading="lazy" alt="freelance web design" />
                        </picture>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel_item">
                        <picture>
                            <source id="amanDhattarwal" srcset="images/graphics/aman.png, 728w" type="image/png" style="width: 30%; height: 50%;">
                            <img class="panel_img secondAn" width="428" height="588" src="images/graphics/aman.png" loading="lazy" alt="freelance web development" />
                        </picture>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel_item">
                        <picture>
                            <source srcset="images/graphics/glass.gif, 728w" type="image/gif">
                            <img class="panel_img secondAn" width="428" height="588" src="images/graphics/glass.gif" loading="lazy" alt="freelance website design" />
                        </picture>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel_item">
                        <picture>
                            <source srcset="images/graphics/nikhil.png, 728w" type="image/png">
                            <img class="panel_img secondAn" width="428" height="588" src="images/graphics/nikhil.png" loading="lazy" alt="freelance website development" />
                        </picture>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel_item">
                        <picture>
                            <source srcset="images/graphics/flow.gif, 728w" type="image/gif">
                            <img class="panel_img secondAn" width="728" height="588" src="images/graphics/flow.gif" loading="lazy" alt="website graphic design" />
                        </picture>
                    </div>
                </div>

              

                <div class="img_container">
                    <picture>
                        <source srcset="images/graphics/rubix.png, 1200w" type="image/png">
                        <img class="full_img" width="1200" height="628" src="images/graphics/rubix.png" loading="lazy" alt="freelance website design by robbie crenshaw" />
                    </picture>
                </div>
                <div class="img_container">
                    <picture>
                        <source srcset="images/graphics/mercury.gif, 600w" type="image/gif">
                        <img class="full_img" width="600" height="900" src="images/graphics/mercury.gif" loading="lazy" alt="custom website design" />
                    </picture>
                </div>
                <div class="img_container">
                    <picture>
                        <source srcset="images/graphics/aman.png, 1080w" type="image/png">
                        <img class="full_img" width="1080" height="608" src="images/graphics/aman.png" loading="lazy" alt="custom website development" />
                    </picture>
                </div>
                <div class="img_container">
                    <picture>
                        <source srcset="images/graphics/glass.gif, 1000w" type="image/gif">
                        <img class="full_img" width="1000" height="563" src="images/graphics/glass.gif" loading="lazy" alt="website design in the outer banks" />
                    </picture>
                </div>
                <div class="img_container">
                    <picture>
                        <source srcset="images/graphics/nikhil.png, 1200w" type="image/png">
                        <img class="full_img" width="1200" height="628" src="images/graphics/nikhil.png" loading="lazy" alt="web development in the outer banks" />
                    </picture>
                </div>
                <div class="img_container">
                    <picture>
                        <source srcset="images/graphics/flow.gif, 800w" type="image/gif">
                        <img class="full_img" width="800" height="884" src="images/graphics/flow.gif" loading="lazy" alt="animation based website design and development" />
                    </picture>
                </div>
                

            </section>

            <div class="hr"></div>

            <div id="zoom_container" class="bg">

                <section id="zoom_overlay" class="zoom_panel">
                    <svg id="zoom_svg" version="1.1" xmlns="//www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="100%" height="100%" viewBox="0 0 1600 900">
                        <rect class="svg-knockout-text-bg" width="100%" height="100%" x="0" y="0" fill-opacity="1" mask="url(#svg-knockout-text)" />
                        <mask id="svg-knockout-text">
                            <rect width="100%" height="100%" fill="#fff" x="0" y="0" />
                            <text x="50%" y="50%" fill="#00" text-anchor="middle">Shubham Pathak</text>
                        </mask>
                    </svg>
                </section>

                <section class="zoom_panel quote">
                    <div class="quote_text">
                        <p>Design</p>
                        <p>Develop</p>
                        <p>Deploy</p>
                    </div>
                </section>

            </div>

         

            <section id="contact" class="contact">
                <div class="wrapper">
                    <h3>Let's create something together,</h3>
                    <p>Drop me a <a href="mailto:shubham4uh@gmail.com" target="_blank">line!</a></p>
                </div>

                <div class="info">
                    <div class="info_box">
                        <ul>
                            <li class="aniup">
                                <a href="mailto:shubham4uh@gmail.com" target="_blank">shubham4uh@gmail.com</a>
                            </li>
                            <li class="aniup">
                                <a href="https://instagram.com/itspathak_" target="_blank">Instagram</a>
                            </li>
                            <li class="aniup">
                                <a href="https://github.com/graylith" target="_blank">Github</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <footer class="footer">
                    <p>&copy; 2022 Shubham Pathak</p>
                </footer>

            </section>
        </main>

    </div>

    <div class="circle"></div>

    <script defer src="assets/main.js"></script>

</body>

</html>
